body,
html {
	height: 100%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color: rgba(49, 57, 60, 1);
}

.header {
	width: 100%;
	background: linear-gradient(
		to right,
		rgba(33, 118, 255, 1),
		rgb(170, 36, 247)
	);
	color: white;
	text-shadow: 0vw 0vw 0.5vw rgba(49, 57, 60, 1);
}

.header-text {
	font-size: 25px;
	text-align: center;
}

.header-text h1 {
	margin: 0;
	padding: 2vw;
	font-family: "Merienda One", cursive;
	font-size: 10vmin;
}

.header-text img {
	width: 18vw;
	height: 18vw;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0vw 0vw 2vw rgba(49, 57, 60, 1);
}

.header-icons i {
	margin: 0 auto;
	padding: 15px;
	font-size: 45px;
}

.header-icons a {
	color: white;
	width: 20px;
	height: 20px;
}

.header-icons a:hover {
	color: white;
	text-shadow: 0vw 0vw 1vw rgba(253, 202, 64, 1);
}

svg {
	position: relative;
	margin-bottom: -5px;
	bottom: 0;
	width: 100%;
	height: 10vw;
	/* set height to pixels if you want angle to change with screen width */
}

.content {
	margin: 0px 8vw 30px 8vw;
}

.content-projects {
	margin-bottom: 30px;
}

.content-projects h1 {
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Merienda One", cursive;
	font-size: 6vmax;
}

.content-projects .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 25px;
}

.card {
	margin: 0 auto;
	width: 300px;
	height: 350px;
	border: rgba(49, 57, 60, 1) 2px solid;
	border-radius: 10px;
}

.card-title {
	height: 15%;
	padding-top: 8%;
	text-align: center;
	font-size: 30px;
	text-shadow: 0vw 0vw 0.25vw rgba(49, 57, 60, 1);
	color: white;
	background: linear-gradient(
		to top right,
		rgba(33, 118, 255, 1),
		rgba(51, 161, 253, 1)
	);
}

.card-body {
	margin: 5%;
}

.content-skills h1 {
	margin-bottom: 50px;
	text-align: center;
	font-family: "Merienda One", cursive;
	font-size: 6vmax;
}

.content-skills .grid-container {
	display: grid;
	margin-bottom: 75px;
	margin: 0px 15% 77px 15%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.content-skills .grid-item {
	font-size: 25px;
	text-align: center;
}

.content-skills .grid-item i {
	font-size: 10vmin;
}
