body,
html {
	height: 100%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color: rgba(49, 57, 60, 1);
}

.header {
	width: 100%;
	background: linear-gradient(
		to right,
		rgba(33, 118, 255, 1),
		rgb(170, 36, 247)
	);
	color: white;
	text-shadow: 0vw 0vw 0.5vw rgba(49, 57, 60, 1);
}

.header-text {
	font-size: 25px;
	text-align: center;
}

.header-text h1 {
	margin: 0;
	padding: 2vw;
	font-family: "Merienda One", cursive;
	font-size: 10vmin;
}

.header-text img {
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0vw 0vw 2vw rgba(49, 57, 60, 1);
	width: 18vw;
	height: 18vw;
}

.header-icons i {
	margin: 0 auto;
	padding: 15px;
	font-size: 45px;
}

svg {
	position: relative;
	margin-bottom: -5px;
	bottom: 0;
	width: 100%;
	height: 10vw;
	/* set height to pixels if you want angle to change with screen width */
}

.content {
	margin: 0px 15vw 0px 15vw;
}

.content-skills h1 {
	margin: 0 auto;
	text-align: center;
	font-family: "Merienda One", cursive;
	font-size: 6vmax;
}

.content-skills .grid-container {
	display: grid;
	margin-bottom: 75px;
	margin: 0px 15% 77px 15%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.content-skills .grid-item {
	font-size: 25px;
	text-align: center;
}

.content-skills .grid-item i {
	font-size: 10vmin;
}

.content-projects h1 {
	margin: 0 auto;
	text-align: center;
	font-family: "Merienda One", cursive;
	font-size: 6vmax;
}

.content-projects .grid-container {
	display: grid;
	margin-bottom: 75px;
	margin: 10px 0px 0px 0px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.card {
	width: 300px;
	height: 450px;
	border: black 1px solid;
	border-radius: 3px;
}

.card-title {
	height: 25%;
}
