@import url("https://fonts.googleapis.com/css?family=Baloo:400|Hind:400");

:root {
  --baseline: 10px;

  /* spacing values */
  --spacing-sm: calc(var(--baseline) / 2);
  --spacing-md: var(--baseline);
  --spacing-lg: calc(var(--baseline) * 2);
  --spacing-xl: calc(var(--baseline) * 3);

  /* colors */
  --colors-off-black: #2f2f2f;
}

html,
body {
  font-size: var(--baseline);
  background-color: #ffffff;
  color: var(--colors-off-black);
}

h1 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 6.103515625em;
  line-height: 9rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 4.8828125em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h3 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 3.90625em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 3.125em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 2.5em;
  line-height: var(--spacing-lg);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  margin-bottom: var(--spacing-lg);
  font-family: Baloo;
  font-size: 2em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: var(--spacing-lg);
  font-family: Hind;
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

@media screen and (max-width: 720px) {
  h1 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 6.103515625em;
    line-height: 9rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h2 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 4.8828125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h3 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 3.90625em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h4 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 3.125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h5 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 2.5em;
    line-height: var(--spacing-lg);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h6 {
    margin-bottom: var(--spacing-lg);
    font-family: Baloo;
    font-size: 2em;
    line-height: var(--spacing-lg);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  p {
    margin-bottom: var(--spacing-lg);
    font-family: Hind;
    font-size: 1.6em;
    line-height: var(--spacing-lg);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
}
