:root {
	--dark-sky: rgb(9 13 26);
	--dark-sky-2: rgb(22 33 62);
	--spacing-sm: 2rem;
	--view-height: 100vh;
	--view-width: 100vw;

	box-sizing: border-box !important;

	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	text-shadow: 1px 1px 1rem rgb(19, 19, 19);
	line-height: 1.5em;
}

body {
	background: var(--dark-sky);
	width: 100vw;
	overflow-x: hidden;
}

#svelte {
	width: 100vw;
	display: inline-block;
}

#app {
	position: absolute;
	display: grid;
	grid-template-rows: 95% 5%;
	z-index: 100;
	top: 0;
	left: 0;
	padding: var(--spacing-sm);
	width: calc(100vw - calc(var(--spacing-sm) * 2));
	height: 300vh;
	background: linear-gradient(transparent, var(--dark-sky-2));
}

h1 {
	font: 13.5vw Arial, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
}

h2 {
	font: 11vw Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: -1px;
}

h3 {
	font: 10vw Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: -1px;
}
