:root {
	--dark-sky: rgb(9 13 26);
	--dark-sky-2: rgb(22 33 62);
	color: white;
	--spacing-sm: 2rem;
}

body {
	background: linear-gradient(var(--dark-sky), var(--dark-sky-2));
	width: 100vw;
	height: 100vh;
}

#svelte {
	width: 100vw;
	height: 100vh;
	display: inline-block;
}

#app {
	margin: var(--spacing-sm);
	height: calc(100vh - calc(var(--spacing-sm) * 2));
}

#background {
	position: absolute;
	top: 0;
	left: 0;
}
