.navbar {
  font-family: "Inconsolata", monospace;
  color: white;
  background-color: rgba(115, 83, 186, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#about {
  padding-top: 5%;
}

.jumbotron {
  background: rgba(202, 213, 202, 1);
}

.jumbotron img {
  border-radius: 50%;
}

.jumbotron section {
  float: right;
  vertical-align: text-bottom;
}
