.navbar {
	color: white;
	background-color: black !important;
	font-family: "Inconsolata", monospace;
}

.navbar a {
	color: white;
}

body {
	margin: 0;
	padding: 0;
}

.jumbotron {
	background: none;
	color: white;
	background-image: url("./img/jumbo.png");
	background-size: cover;
	background-position: center;
}

.jumbotron .row {
	margin-top: 75px;
}
.jumbotron img {
	position: right;
	border-radius: 125px;
	border: 2px solid white;
}

.jumbotron section {
	margin-top: 5px;
	padding: 25px;
	float: right;
}

.jumbotron h1 {
	font-family: "Merriweather", serif;
	text-shadow: 3px 3px 1px #6b6b6b;
	font-size: 48px;
	background-color: black;
	border: 25px solid black;
}

.jumbotron li {
	font-size: 22px;
	font-style: bold;
	font-family: "Inconsolata", monospace;
	text-shadow: 0px 0px 7px #000000;
}

.display-4 {
	font-family: "Inconsolata", monospace !important;
}
